.about{
    padding: 60px 0;
}
.about-content{
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 60px;
}
.about-list{
    width: 48%;
    margin-top: 20px;
}
.about-list > li{
    border-bottom: 1px solid rgba(44, 46, 53, 0.2);;
    padding-right: 10px;
    padding-top: 20px;
}

.about-list > li:last-child{
    border-bottom: none;
}

.about-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.collapse-btn.active img{
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
}

.about-list-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.about-list-content p{
    color: rgba(44, 46, 53, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

.about-gallery{
    width: 49%;
}

.mySwiper img{
    width: 187px;
    height: 125px;
    border-radius: 28px;
    position: relative;
}

.mySwiper .swiper-slide{
    position: relative;
}
.mySwiper .swiper-slide::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mySwiper .swiper-slide:hover::after{
    opacity: 1;
}
.mySwiper .swiper-slide img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.mySwiper2 img{
    width: 100%;
    border-radius: 30px;
}

.mySwiper2 h3{
    text-align: center;
    margin: 15px auto 30px;
}
.mySwiper2 .swiper-pagination{
    display: none;
}
.swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid rgb(44, 46, 53);
    opacity: 0.5;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    border-color: transparent;
    background: rgba(255, 46, 23, 1);
    opacity: 1;
    position: relative;
}
.swiper-pagination-bullet-active::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 46, 23, 0.4);

}
@media (max-width: 950px) {
    .about{
        padding: 20px 0;
    }
    .about-content{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .about-list{
        width: 100%;
    }
    .about-gallery{
        width: 100%;
    }
    
}

@media (max-width: 500px) {
    .mySwiper{
        display: none;
    }
    .mySwiper2 .swiper-pagination{
        display: block;
    }
    .mySwiper2 h3{
        margin: 10px auto 30px;
    }
    .mySwiper2 img{
        border-radius: 20px;
    }
    .about-content{
        gap: 0;
    }
    .about-list li{
        padding-top: 10px;
    }
    .about-list-title{
        margin-bottom: 10px;
    }
    .about-list-content p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
