.catalog{
    padding: 60px 0;
}

.catalog-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
    gap: 30px;
    margin-bottom: 30px;
}

.catalog-item{
    border: 1px solid rgba(44, 46, 53, 0.1);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.hidden-item{
    display: none;
}
.catalog-img{
    width: 100%;
    overflow: hidden;
}
.catalog-img img{
    width: 100%;
    height: 252px;
    object-fit: cover;
}
.catalog-content{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.catalog-title span{
    color: rgb(44, 46, 53);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.catalog-description{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    row-gap: 15px;
}
.catalog-description span{
    color: rgb(44, 46, 53);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.7;
    padding-left: 10px;
    border-left: 1px solid #000;
}

.catalog-btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 30px 30px; 
}
.catalog-btns button{
    width: 100%;
    height: 59px;
    padding:13px 67px 18px 30px;
    font-size: 19px;
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(44, 46, 53, 1);
    color: rgb(44, 46, 53);
}

.catalog-btns button:hover{
    background-color: rgb(44, 46, 53);
    color: rgb(252, 252, 252);
    transition: all 0.5s ease;
}

.catalog-btns button img{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
@media (max-width: 1190px) {
    .catalog-wrapper{
        gap: 15px;
    }
    .catalog-content{
        padding: 0 20px;
    }
    .catalog-btns{
        padding: 0 20px 20px;
    }
    .catalog-btns button{
        font-size: 18px;
    }

   
}

@media (max-width: 1070px) {
    .catalog-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
    
}
@media (max-width: 950px) {
    .catalog{
        padding: 20px 0;
    }
    .catalog-item{
        border-radius: 20px;
        gap: 20px;
    }
    .catalog-title{
        margin-bottom: 20px;
    }
    .catalog-title span{
        font-size: 15px;
    }
    .catalog-description{
        row-gap: 10px;
    }
    .catalog-description span{
        font-size: 12px;
        line-height: 12px;
        padding-left: 7px;
    }
   .catalog-btns button{
        font-size: 15px;
        height: 45px;
    }
    .catalog-btns img{
        width: 36px;
        height: 36px;
    }
}
@media (max-width: 620px) {
    .catalog-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .catalog-btns button:focus{
        background-color: rgb(44, 46, 53);
        color: rgb(252, 252, 252);
        transition: all 0.5s ease;
    }
}

@media (max-width: 400px) {
    .catalog-img img{
        height: 192px;
    }
}